/* 
Colour-Pallete
light-grey: rgba(255, 255, 255, .1)

*/

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
	/* scrollbar-width: none; */
}

.App {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  justify-content: flex-end;
}

.switches {
  display: flex;
  flex-direction: column;
}

.svg-parent {

}

/* Table */
.table {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 50rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.table::-webkit-scrollbar {
  display: none;
}

.table-row {
  display: flex;
}

.heading {
  font-weight: bolder;
  /* position: fixed; */
}

.table .district-cell {
  background-color: rgba(0, 0, 0, .1);
  width: 20rem;
  margin: .2rem;
  padding: .5rem 1rem;
  border-radius: .4rem;
  font-size: 1.2rem;
}
.table .values-cell {
  background-color: rgba(0, 0, 0, .1);
  width: 7rem;
  margin: .2rem;
  padding: .5rem 1rem;
  border-radius: .4rem;
  font-size: 1.2rem;
}